# DATABASE CONFIGURATION
DATABASE_URL=postgresql+psycopg2://username:password@localhost:5432/url_shortener_db

# URL SHORTENER CONFIGURATION
SHORT_CODE_LENGTH=6

# TTL CONFIGURATION
APP_TTL_HOURS=24

SHORT_CODE_MAX_ATTEMPTS=10

